:root {
    --backgroundColor: #000f1b;
    --h-text: #a9f9ff;
    --text: #e0e0e0;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--backgroundColor);
}

/* Schrift ---------------------------------------------------------*/

h1 {
  font-size: 4rem;
  color: var(--h-text);
}

p {
    color: var(--text)
}

/* index html style ---------------------------------------------------*/

.ivl-container {

}

section {
  padding: 100px 8vw;
}